*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
  top: 5px;
    padding: 20px 0;
}
.container h2{
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}
.container p{
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
 li{
  list-style: none;
}
.links ul,.links2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  font-size: 17px;
}
.fa-fw {
 margin-right: 10px;
}
.card span{
  width: 65vw;
  height: 2px;
background-color:#000;
position: absolute;
margin-top: 5px;
}
.card p{
  margin-top: 17px;
  line-height: 1.5;
  font-size: 17px;
}
.card-list{
  margin-left: 120px;
  margin-top: 20px;
  width: fit-content;
}
.parent{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-list {
  display: grid;
  gap: 30px;
}
.card h4{
  margin-top: 5px;
  font-weight: 400;
  line-height: 1.5;
}
.card h3{
  margin-top: 20px;
  list-style: circle;
}
.a{
  text-decoration: none;
}